<html>
 <head>
  <title> 회원가입폼 </title>
 </head>

 <body>
 <center>
 <h1> 회원가입 </h1>
 <table border="2" bgcolor="wheat">

<form action='/dupcheck' method ='POST'>
  <tr>
   <td> 아이디 </td>
   <td>	<input type="text" name = "userId" placeholder="userId" required>
   </td>
  </tr>

  <tr>
   <td> password </td>
   <td> <input type="text" name = "password" placeholder="password" required>
   </td>
  </tr>
  </TABLE>
   <input type="submit" value="Sign Up"/>
</form>
 </center>
 </body>
</html>

